@import  "http://weloveiconfonts.com/api/?family=fontawesome|zocial";

*/* {
   outline: 1px solid red !important;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: "FontAwesome",sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: "zocial",sans-serif;
}

body {
    font-family: "Lato",sans-serif;
    color: #5a70aa;
    font-weight: 300;
}

header {
    background-color: #9f9da8;
}

img {
    max-width: 100%;
}

.banner {

}

.text-muted {
    color: #5a70aa;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 45px;
}

.title-logo1 {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px 0 10px 10px;
}

.project {
    margin: 0 auto;
}

.link-button {
    color: #000;
    font-weight: 700;
    font-size: 20px;
}

.social li {
    margin: 70px;
    padding: 30px;
    display: inline-block;
    font-size: 34px;
}


/* Media Queries*/

/* @media screen and (min-width: 1px) and (max-width: 2px) {
body {background-color: green}
} */
